@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fefefe;
}

header {
    width: 100%;
    height: 80px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s ease;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #11101b;
    background-color: #fefefe;
}

.nav-bar ul li a.active {
    color: #11101b;
    background-color: #fefefe;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;

    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
        
    }
}

@media only screen and (max-width: 960px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        /* display: none; */
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s ease;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;

    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s ease;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}



/* # HOME */

#home {
    /* height: 700px; */
    text-align: center;
    padding: 100px 200px;
    background-color: black;
}

#home > h1 {
    font-size: 60px;
    color: white;
    font-weight: 100;
}

#dev-title {
    font-size: 35px; 
    color: white;
}

#social_links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
}

#social_links > div > a > img {
    width: 100px;
}

@media all and (min-width: 1100px) {
    #social_links {
        gap: 80px;
    }
}


@media all and (min-width: 768px) and (max-width: 1100px) {
    #home {
        padding: 80px 20px;
    }
    
    #dev-title {
        font-size: 35px; 
        color: white;
    }
    
    #social_links {
        gap: 70px;
    }
    
    #social_links > div > a > img {
        width: 80px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    #home {
        padding: 80px 20px;
    }

    #home > h1 {
        font-size: 50px;
    }

    #dev-title {
        font-size: 25px;
    }
    #social_links {
        margin-top: 40px;
        padding: 0px;
    }
    #social_links > div > a > img {
        width: 50px;
    }

}




/* ABOUT ME */
#about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

#about-me-child {
    display: flex;
    width: 90%;
    margin: auto;
    background-color: teal;
    border-radius: 50px;
}


#per-pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

#per-pic > img {
    width: 100%;
    border-radius: 50px 0px 0px 50px;
}

#about-me-desc {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 200px;
}

#about-me-desc > h1 {
    font-size: 80px;
}

@media all and (min-width: 768px) and (max-width: 1162px) {
    #about-me-desc {
        padding: 0px 60px;
    }

    #about-me-desc > h1 {
        font-size: 60px;
    }
}

@media all and (min-width: 550px) and (max-width: 767px) {
    #about-me-desc {
        padding: 0px 20px;
    }

    #about-me-desc > h1 {
        font-size: 40px;
    }
}

@media all and (min-width: 320px) and (max-width: 549px) {

    #about-me {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }
    
    #about-me-child {
        display: flex;
        flex-direction: column;
    }
    
    
    #per-pic {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #per-pic > img {
        width: 100%;
        border-radius: 50px 50px 0px 0px;
    }
    
    #about-me-desc {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
    
    #about-me-desc > h1 {
        font-size: 40px;
    }
}




/* <!-- SKILLS --> */


#skills {
    text-align: center;
    background-color: #191919;
    padding: 10px 0px;
    color: white;
}

#skills > h1 {
    font-size: 100px;
}

#skills-child {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

#skills-child > div {
    padding: 10px;
    border: 1px solid white;
    border-radius: 50px;
}

#skills-child > div > img {
    height: 120px;
    width: 120px;
}



/* <!-- Projects --> */

#projects {
    background-color: black;
    color: white;
    text-align: center;
}

#projects > h1, #contact > h1 {
    font-size: 100px;
    color: white;
    text-align: center;
}

#project-child {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#project-child > div {
    background-color: #191919;
    border-radius: 50px;
    padding: 20px 0px;
}

.git-live-btn {
    display: flex;
    gap: 40px;
    justify-content: center;
    /* border: 1px solid red; */
    height: 100px;
    padding-top: 50px;
}

.git-live-btn > a {
    text-decoration: none;
    color: white;
}

.pro-img-div {
    /* border: 1px solid red; */
    height: 380px;
}

.pro-img-div > img {
    width: 100%;
}

.pro-title-div {
    /* border: 1px solid white; */
    height: 100px;
}

.pro-desc-div {
    /* border: 1px solid red; */
    height: 150px;
}